
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #000000;
}


header {
    background-color: #0f0f0f;
    
    text-align: center;
    padding: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', serif;
}


nav {
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    
    font-size: 30px;
    transition: color 0.3s;
}

/* Contêiner de Filtros */
.filter-container h2 {
    
    margin: 50px 30px;
}

.filter-label {
    margin: 30px 100px;
    
}

/* Contêiner de Séries */
.series-container h3 {
    
    margin: 50px 30px;
}

.series-container {
    margin: 20px 0;
}

/* Cards de Filme ou Série */
.card {
    margin: 10px;
    background-color: rgb(85, 85, 85);
    border-radius: 8px;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 0.9rem;
    color: #cfd8dc;
}

.card-link {
    text-decoration: none;
    color: inherit;
    
}

.card-link:hover {
    text-decoration: none;
    
}

/* Contêiner de Paginação */
#pagination-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    
}

#pagination-container button {
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-container button:hover {
    
    color: #000000;
}

footer{
    color: #ffffff;
}